{
  "openapi": "3.0.1",
  "info": {
    "title": "O Payments",
    "description": "The APIs that enable our merchants to process payments and check payment statuses.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pro.op.com",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.op.com",
      "description": "Sandbox server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/payment-links/create": {
      "post": {
        "description": "Creates a new payment link with specified details.",
        "requestBody": {
          "description": "Details for the payment link to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment link created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or error in creating payment link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/status": {
      "get": {
        "description": "Checks the status of a payment link based on transaction reference.",
        "requestBody": {
          "description": "Transaction reference for querying the payment status.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment status response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or error in retrieving payment status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentRequest": {
        "type": "object",
        "required": ["name", "amount"],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the customer."
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "The amount for the payment."
          },
          "notes": {
            "type": "string",
            "description": "Additional notes for the payment, if any."
          }
        }
      },
      "StatusCheckRequest": {
        "type": "object",
        "required": ["transactionReference"],
        "properties": {
          "transactionReference": {
            "type": "string",
            "description": "Unique reference for the transaction to check status."
          }
        }
      },
      "PaymentLinkResponse": {
        "type": "object",
        "properties": {
          "paymentLink": {
            "type": "string",
            "format": "uri",
            "description": "The URL generated for the payment link."
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Current status of the payment (e.g., 'Pending', 'Completed', 'Failed')."
          },
          "transactionReference": {
            "type": "string",
            "description": "Unique reference of the queried transaction."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "Error code representing the type of error."
          },
          "message": {
            "type": "string",
            "description": "Description of the error."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
